<header-component [headerConfig]="headerConfig"></header-component>
<div class="container base-container">
    <div class="login-card">
      <div class="row" align="center">
          <h2 class="pb-30">Reset Your Password</h2>
      </div>
      <div class="row">
        <div *ngIf="errorMessage" class="alert alert-block alert-danger">
          {{errorMessage}}
        </div>
        <div *ngIf="!errorMessage && isSuccess" class="alert alert-block alert-success">
          Request sent. Please check your email to continue!
        </div>
      </div>
      <div class="row">
        <div  class="input-wrapper">
          <label  class="form-label" for="email">Your Email</label>
          <input  class="input w-input" id="email" maxlength="256" (keyup)="txtEmailKeyUp()" [(ngModel)]="email" placeholder="Email Address" type="email">
        </div>
      </div>
      <div class="row">
        <button type="submit" (click)="btnSubmitClick($event)" class="btn btn-primary btn-default full">Submit</button>
      </div>
    </div>
</div>
