<header-component [headerConfig]="headerConfig"></header-component>
<div class="container base-container">
    <div class="login-card">
      <div class="row" align="center">
          <h2 class="pb-30">Reset Password</h2>
      </div>
      <div class="row">
        <div *ngIf="errorMessage" class="alert alert-block alert-danger">
          {{errorMessage}}
        </div>
        <div *ngIf="!errorMessage && isSuccess" class="alert alert-block alert-success">
          Password changed!
        </div>
      </div>
      <div class="row">
        <div  class="input-wrapper">
          <label  class="form-label" for="password">Password</label>
          <input  class="input w-input" id="password" maxlength="256" (keyup)="txtPasswordKeyUp()" [(ngModel)]="password" placeholder="Password" type="password">
        </div>
      </div>
      <div class="row">
        <div  class="input-wrapper">
          <label  class="form-label" for="reset-password">Confirm Password</label>
          <input  class="input w-input" id="reset-password" maxlength="256" (keyup)="txtPasswordKeyUp()" [(ngModel)]="confirmPassword" placeholder="Confirm password" type="password">
        </div>
      </div>
      <div class="row">
        <button type="submit" (click)="btnSubmitClick($event)" class="btn btn-primary btn-default full">Submit</button>
      </div>
    </div>
</div>
